#red {
    color: red;
}

#blue {
    color: blue;
}

#orange {
    color: orange;
}

#brown {
    color: brown;
}

#darkblue {
    color: darkblue;
}

.item-title {
    font-style: italic;
}

img {
    height: 50px;
    width: 150px;
}